@-webkit-keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(1.1, 1.1, 1);
        -moz-transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -o-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-moz-keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(1.1, 1.1, 1);
        -moz-transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -o-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(1.1, 1.1, 1);
        -moz-transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -o-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes anim-close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(0.9, 0.9, 1);
        -moz-transform: scale3d(0.9, 0.9, 1);
        -ms-transform: scale3d(0.9, 0.9, 1);
        -o-transform: scale3d(0.9, 0.9, 1);
        transform: scale3d(0.9, 0.9, 1);
    }
}

@-moz-keyframes anim-close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(0.9, 0.9, 1);
        -moz-transform: scale3d(0.9, 0.9, 1);
        -ms-transform: scale3d(0.9, 0.9, 1);
        -o-transform: scale3d(0.9, 0.9, 1);
        transform: scale3d(0.9, 0.9, 1);
    }
}

@keyframes anim-close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(0.9, 0.9, 1);
        -moz-transform: scale3d(0.9, 0.9, 1);
        -ms-transform: scale3d(0.9, 0.9, 1);
        -o-transform: scale3d(0.9, 0.9, 1);
        transform: scale3d(0.9, 0.9, 1);
    }
}

@font-face {
    font-family: "simple-line-icons";
    src: url("../fonts/Simple-Line-Icons.eot?v=2.3.2");
    src: url("../fonts/Simple-Line-Icons.eot?v=2.3.2#iefix") format("embedded-opentype"), url("../fonts/Simple-Line-Icons.woff2?v=2.3.2") format("woff2"), url("../fonts/Simple-Line-Icons.ttf?v=2.3.2") format("truetype"), url("../fonts/Simple-Line-Icons.woff?v=2.3.2") format("woff"), url("../fonts/Simple-Line-Icons.svg?v=2.3.2#simple-line-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.snapscreen label {
    float: none;
    width: auto;
    height: auto;
}

.snapscreen .button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    padding: 16px calc(16px*2);
    color: #333;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid transparent;
    border: 0 transparent;
    background-color: #e6e6e6;
    text-decoration: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

.snapscreen .button-cta {
    background: #ffffff;
    color: #3d76c5;
    border: 1px solid #1f8dd6;
}

.snapscreen  .dialog {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    pointer-events: none;
    z-index: 800;
}

.snapscreen .dialog,
.snapscreen .dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.snapscreen .dialog__overlay {
    position: absolute;
    z-index: 799;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
}

.snapscreen .dialog--open .dialog__overlay {
    opacity: 1;
    pointer-events: auto;
}

.snapscreen .dialog--open .dialog__content {
    -webkit-animation: anim-open;
    -moz-animation: anim-open;
    -ms-animation: anim-open;
    -o-animation: anim-open;
    animation: anim-open;
    pointer-events: auto;
}

.snapscreen .dialog.dialog--open .dialog__content, .dialog.dialog--close .dialog__content {
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -ms-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.snapscreen .dialog__content {
    width: calc(100% - 16px * 6);
    max-width: calc(100% - 16px * 6);
    background-color: #3468af;
    padding: calc(16px * 2);
    text-align: center;
    position: relative;
    z-index: 800;
    opacity: 0;
    color: #ffffff;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

.snapscreen .icon-camera {
    font-family: "simple-line-icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.snapscreen .icon-camera:before {
    content: "\e07f";
}

.snapscreen-modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 700;
    background-color: black;
}

.snapscreen-modal .snapscreen {
    height: 100vh;
}

.snapscreen-modal .close {
    position: absolute;
    right: 0;
    top: 16px;
    width: 24px;
    height: 24px;
    opacity: 0.3;
    z-index: 1;
}

.snapscreen-modal .close:hover,
.snapscreen-modal .close:focus {
    opacity: 1;
}

.snapscreen-modal .close:before,
.snapscreen-modal .close:after {
    z-index: -1;
    position: absolute;
    left: 0;
    content: ' ';
    height: 1em;
    width: 2px;
    background-color: #ffffff;
}

.snapscreen-modal .close:before {
    transform: rotate(45deg);
}

.snapscreen-modal .close:after {
    transform: rotate(-45deg);
}

.snapscreen .tutorial-logo {
    opacity: 0.3;
    width: 180px;
    margin: 0 auto;
    top: calc(16px * 2);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media only screen and (min-width: 600px) {
    .snapscreen .tutorial-logo {
        top: calc(50px / 2);
    }
}

@media only screen and (min-width: 768px) {
    .snapscreen .tutorial-logo {
        top: calc(50px * 1);
    }
}

.snapscreen .tutorial-title {
    padding: 16px;
    display: block;
    line-height: 1.5;
    font-weight: 100;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 16px;
}

.snapscreen .tutorial-label {
    background-color: transparent;
    width: 100%;
    text-align: center;
    text-transform: inherit;
    border: inherit;
    display: inline-block;
}

.snapscreen .tutorial-label > * {
    pointer-events: none;
}

.snapscreen .tutorial-content {
    /* Default styles for content */
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    white-space: normal;
    /* Reset the font-size from 0 back to 16 */
    font-size: 16px;
}

.snapscreen .tutorial-picto {
    position: relative;
    width: auto;
    margin: 0 auto;
    display: block;
    zoom: 1;
}

.snapscreen .tutorial-picto img {
    max-width: 100%;
    height: auto;
    border: 0;
    outline: 0;
}

@media only screen and (min-width: 600px) {
    .snapscreen .tutorial-picto {
        max-width: 200px;
    }
}

@media only screen and (min-width: 768px) {
    .snapscreen .tutorial-title {
        font-size: 1.6em;
    }

    .snapscreen .tutorial-picto {
        max-width: 460px;
    }
}

.snapscreen .tv-search-camera,
.snapscreen .tv-search-file {
    height: 100vh;
    width: 100%;
}

.snapscreen .tv-search-error {
    position: absolute;
    z-index: 5;
    width: 200px;
    padding: 16px;
    opacity: 0.8;
    color: white;
    background-color: #6b6b6b;
    -webkit-border-radius: 0.8em;
    border-radius: 0.8em;
    text-align: center;
}

.snapscreen .tv-search-camera .tv-search-error {
    top: calc(50% - 16px * 2);
    left: 50%;
    transform: translate(-50%, -50%);
}

.snapscreen .tv-search-file .tv-search-error {
    bottom: 6%;
    left: 0%;
    right: 0%;
    margin: 0 auto;
}

.snapscreen .tv-search-button {
    z-index: 401;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    background: #3d76c5;
    position: fixed;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 5px rgba(51, 51, 51, 0.6);
    -moz-box-shadow: 0px 2px 5px rgba(51, 51, 51, 0.6);
    box-shadow: 0px 2px 5px rgba(51, 51, 51, 0.6);
}

.snapscreen .tv-search-button:disabled {
    background: url("../images/processing.gif") #3d76c5 no-repeat center;
}

.snapscreen .tv-search-button:disabled i {
    display: none;
}

.snapscreen .tv-search-button i {
    color: #ffffff;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 60px;
    font-size: 24px;
}

.snapscreen .tv-search-button:after {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-top: -120%;
    margin-left: -120%;
    opacity: 0;
}

.snapscreen .tv-search-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.snapscreen .tv-search-input + .tv-search-label {
    width: 240px;
    height: 240px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #3d76c5;
    color: #ffffff;
    text-transform: none;
}

.snapscreen .tv-search-input + .tv-search-label > div {
    padding: 16px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.snapscreen .tv-search-input + .tv-search-label > div > i {
    font-size: 3em;
}

.snapscreen .tv-search-input + .tv-search-label > div > span {
    margin-top: 16px;
    display: inline-block;
}

.snapscreen .tv-search-input + .tv-search-label.file-processing {
    background: #3d76c5 url("../images/processing.gif") no-repeat center;
}

.snapscreen .tv-search-input + .tv-search-label.file-processing > div {
    display: none;
}

.snapscreen .tv-search-error,
.snapscreen .tv-search-feedback {
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 5;
    width: calc(100% - 16px * 4);
    padding: 16px;
    color: white;
    text-align: center;
}

.snapscreen .tv-search-error {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    background-color: grey;
}

.snapscreen .tv-search-frame {
    z-index: 1;
    position: absolute;
    opacity: 1;
    border: 6px solid #3d76c5;
    background-color: rgba(255, 255, 255, 0.2);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    display: inline-block;
}

.snapscreen .tv-search-frame:after {
    padding-top: 56.25%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

@media screen and (min-width: 568px) {
    .snapscreen .tv-search-frame {
        width: 56%;
        top: calc(50% - 16px);
    }
}

.snapscreen .tv-search-camera .tv-search-button {
    bottom: calc(16px * 1);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
}