/**
 * @file snapscreen-sdk.css
 * @brief a style sheet required to correctly present UI components of the Snapscreen SDK.
 * @copyright 2016 Snapscreen. All rights reserved.
 */
@-webkit-keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(1.1, 1.1, 1);
        -moz-transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -o-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-moz-keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(1.1, 1.1, 1);
        -moz-transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -o-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(1.1, 1.1, 1);
        -moz-transform: scale3d(1.1, 1.1, 1);
        -ms-transform: scale3d(1.1, 1.1, 1);
        -o-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        -moz-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes anim-close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(0.9, 0.9, 1);
        -moz-transform: scale3d(0.9, 0.9, 1);
        -ms-transform: scale3d(0.9, 0.9, 1);
        -o-transform: scale3d(0.9, 0.9, 1);
        transform: scale3d(0.9, 0.9, 1);
    }
}

@-moz-keyframes anim-close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(0.9, 0.9, 1);
        -moz-transform: scale3d(0.9, 0.9, 1);
        -ms-transform: scale3d(0.9, 0.9, 1);
        -o-transform: scale3d(0.9, 0.9, 1);
        transform: scale3d(0.9, 0.9, 1);
    }
}

@keyframes anim-close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale3d(0.9, 0.9, 1);
        -moz-transform: scale3d(0.9, 0.9, 1);
        -ms-transform: scale3d(0.9, 0.9, 1);
        -o-transform: scale3d(0.9, 0.9, 1);
        transform: scale3d(0.9, 0.9, 1);
    }
}

@font-face {
    font-family: "simple-line-icons";
    src: url("../fonts/Simple-Line-Icons.eot?v=2.3.2");
    src: url("../fonts/Simple-Line-Icons.eot?v=2.3.2#iefix") format("embedded-opentype"), url("../fonts/Simple-Line-Icons.woff2?v=2.3.2") format("woff2"), url("../fonts/Simple-Line-Icons.ttf?v=2.3.2") format("truetype"), url("../fonts/Simple-Line-Icons.woff?v=2.3.2") format("woff"), url("../fonts/Simple-Line-Icons.svg?v=2.3.2#simple-line-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.snapscreen {
    font: 100%/1.2 '-apple-system-body', 'Helvetica Neue', 'Arial', sans-serif;
}

.snapscreen label {
    float: none;
    width: auto;
    height: auto;
}

.snapscreen .button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    padding: 16px 32px;
    color: #333;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid transparent;
    border: 0 transparent;
    background-color: #e6e6e6;
    text-decoration: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

.snapscreen .button-cta {
    background: #ffffff;
    color: #3d76c5;
    border: 1px solid #1f8dd6;
}

.snapscreen .dialog {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    pointer-events: none;
    z-index: 800;
}

.snapscreen .dialog,
.snapscreen .dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.snapscreen .dialog__overlay {
    position: absolute;
    z-index: 799;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
}

.snapscreen .dialog--open .dialog__overlay {
    opacity: 1;
    pointer-events: auto;
}

.snapscreen .dialog--open .dialog__content {
    -webkit-animation: anim-open;
    -moz-animation: anim-open;
    -ms-animation: anim-open;
    -o-animation: anim-open;
    animation: anim-open;
    pointer-events: auto;
}

.snapscreen .dialog.dialog--open .dialog__content, .dialog.dialog--close .dialog__content {
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -ms-animation-duration: 0.3s;
    -o-animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.snapscreen .dialog__content {
    width: calc(100% - 16px * 6);
    max-width: calc(100% - 16px * 6);
    background-color: #3468af;
    padding: 32px;
    text-align: center;
    position: relative;
    z-index: 800;
    opacity: 0;
    color: #ffffff;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

.snapscreen .icon-camera, .snapscreen .icon-refresh, .snapscreen .icon-control-play, .snapscreen .icon-pencil,
.snapscreen .icon-clock, .snapscreen .icon-control-start, .snapscreen .icon-control-end {
    font-family: "simple-line-icons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.snapscreen .icon-camera:before {
    content: "\e07f";
}

.snapscreen .icon-refresh:before {
    content: "\e098";
}

.snapscreen .icon-control-play:before {
    content: "\e071";
}

.snapscreen .icon-pencil:before {
    content: "\e05f";
}

.snapscreen .icon-clock:before {
    content: "\e081";
}

.snapscreen .icon-control-start:before {
    content: "\e06f";
}

.snapscreen .icon-control-end:before {
    content: "\e074";
}

.snapscreen-modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 700;
    background-color: black;
}

.snapscreen-modal .snapscreen {
    height: 100vh;
}

.snapscreen-modal .close {
    position: absolute;
    right: 0;
    top: 16px;
    width: 24px;
    height: 24px;
    opacity: 0.3;
    z-index: 1;
    cursor: pointer;
}

.snapscreen-modal .close:hover,
.snapscreen-modal .close:focus {
    opacity: 1;
}

.snapscreen-modal .close:before,
.snapscreen-modal .close:after {
    z-index: -1;
    position: absolute;
    left: 0;
    content: ' ';
    height: 1em;
    width: 2px;
    background-color: #ffffff;
}

.snapscreen-modal .close:before {
    transform: rotate(45deg);
}

.snapscreen-modal .close:after {
    transform: rotate(-45deg);
}

.snapscreen-modal.snapscreen-results {
    background-color: #f5f5f5;
}

.snapscreen-modal.snapscreen-results .close:before,
.snapscreen-modal.snapscreen-results .close:after {
    background-color: black;
}

.snapscreen .tutorial-logo {
    opacity: 0.3;
    width: 180px;
    margin: 0 auto;
    top: 32px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media only screen and (min-width: 600px) {
    .snapscreen .tutorial-logo {
        top: 25px;
    }
}

@media only screen and (min-width: 768px) {
    .snapscreen .tutorial-logo {
        top: 50px;
    }
}

.snapscreen .tutorial-title {
    padding: 16px;
    display: block;
    line-height: 1.5;
    font-weight: 100;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 16px;
}

.snapscreen .tutorial-label {
    background-color: transparent;
    width: 100%;
    text-align: center;
    text-transform: inherit;
    border: inherit;
    display: inline-block;
}

.snapscreen .tutorial-label > * {
    pointer-events: none;
}

.snapscreen .tutorial-content {
    /* Default styles for content */
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    white-space: normal;
    /* Reset the font-size from 0 back to 16 */
    font-size: 16px;
}

.snapscreen .tutorial-picto {
    position: relative;
    width: auto;
    margin: 0 auto;
    display: block;
    zoom: 1;
}

.snapscreen .tutorial-picto img {
    max-width: 100%;
    height: auto;
    border: 0;
    outline: 0;
}

@media only screen and (min-width: 600px) {
    .snapscreen .tutorial-picto {
        max-width: 200px;
    }
}

@media only screen and (min-width: 768px) {
    .snapscreen .tutorial-title {
        font-size: 1.6em;
    }

    .snapscreen .tutorial-picto {
        max-width: 460px;
    }
}

.snapscreen .tv-search-camera,
.snapscreen .tv-search-file {
    height: 100vh;
    width: 100%;
}

.snapscreen .tv-search-error {
    position: absolute;
    z-index: 5;
    width: 200px;
    padding: 16px;
    opacity: 0.8;
    color: white;
    background-color: #6b6b6b;
    -webkit-border-radius: 0.8em;
    border-radius: 0.8em;
    text-align: center;
}

.snapscreen .tv-search-camera .tv-search-error {
    top: calc(50% - 16px * 2);
    left: 50%;
    transform: translate(-50%, -50%);
}

.snapscreen .tv-search-file .tv-search-error {
    bottom: 6%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.snapscreen .tv-search-button, .snapscreen .switch-camera-button {
    z-index: 401;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    background: #3d76c5;
    position: fixed;
    bottom: 16px;
    right: 16px;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 5px rgba(51, 51, 51, 0.6);
    -moz-box-shadow: 0 2px 5px rgba(51, 51, 51, 0.6);
    box-shadow: 0 2px 5px rgba(51, 51, 51, 0.6);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.snapscreen .tv-search-button:disabled {
    background: url("../images/processing.gif") #3d76c5 no-repeat center;
}

.snapscreen .tv-search-button:disabled i {
    display: none;
}

.snapscreen .switch-camera-button:disabled,
.snapscreen.snpbet .switch-camera-button:disabled {
    background-color: #6b6b6b;
}

.snapscreen .tv-search-button i, .snapscreen .switch-camera-button i {
    color: #ffffff;
    position: absolute;
    top: 0;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 60px;
    font-size: 24px;
}

.snapscreen .tv-search-button:after, .snapscreen .switch-camera-button:after {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-top: -120%;
    margin-left: -120%;
    opacity: 0;
}

.snapscreen .tv-search-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.snapscreen .tv-search-input + .tv-search-label {
    width: 240px;
    height: 240px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #3d76c5;
    color: #ffffff;
    text-transform: none;
}

.snapscreen .tv-search-input + .tv-search-label > div {
    padding: 16px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.snapscreen .tv-search-input + .tv-search-label > div > i {
    font-size: 3em;
    display: inline;
}

.snapscreen .tv-search-input + .tv-search-label > div > span {
    margin-top: 16px;
    display: inline-block;
}

.snapscreen .tv-search-input + .tv-search-label.file-processing {
    background: #3d76c5 url("../images/processing.gif") no-repeat center;
}

.snapscreen .tv-search-input + .tv-search-label.file-processing > div {
    display: none;
}

.snapscreen .tv-search-error,
.snapscreen .tv-search-feedback {
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 5;
    width: calc(100% - 16px * 4);
    padding: 16px;
    color: white;
    text-align: center;
}

.snapscreen .tv-search-error {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    background-color: grey;
}

.snapscreen .tv-search-frame {
    z-index: 1;
    position: absolute;
    opacity: 1;
    border: 6px solid #3d76c5;
    background-color: rgba(255, 255, 255, 0.2);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    display: inline-block;
}

.snapscreen .tv-search-frame:after {
    padding-top: 56.25%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

.snapscreen .collection.with-header .collection-header {
    text-align: left;
    font-size: 0.8em;
}

.snapscreen .collection {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    background-color: #f5f5f5;
}

.snapscreen .collection .collection-item {
    margin: 0;
    padding: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    background-color: #ffffff;
    border-bottom: 1px solid #f5f5f5;
}

.snapscreen .collection .collection-item.with-margin {
    margin: calc(16px / 2) 0;
}

.snapscreen .collection .collection-item.media {
    min-height: 67px;
    position: relative;
}

.snapscreen .collection .collection-item.media.advertisement {
    height: 67px;
    overflow: hidden;
}

.snapscreen .collection .collection-item.media figure {
    width: 11em;
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.snapscreen .collection .collection-item.media figure img {
    border: 0;
    outline: 0;
    height: auto;
    max-width: 100%;
}

.snapscreen .collection .collection-item.media.right {
    padding-right: calc(11em + 16px);
}

.snapscreen .collection .collection-item.media.right figure {
    right: 0;
}

.snapscreen .collection .collection-item figure {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    background: none;
    vertical-align: baseline;
}

.snapscreen .collection .collection-item:last-child {
    border-bottom: none;
}

.snapscreen .collection a.collection-item {
    display: block;
    transition: .25s;
}

.snapscreen .collection.with-header .collection-header {
    padding: 16px;
    background-color: #f5f5f5;
    color: gray;
}

.snapscreen .collection .collection-item figure.preloader {
    background: url("../images/preloader.gif") whitesmoke no-repeat center;
}

.snapscreen .channel-logo img {
    height: 16px;
    margin-bottom: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.snapscreen a .title, .snapscreen a .meta, .snapscreen a .small {
    color: #333;
}

.snapscreen .meta.schedule {
    margin: calc(16px / 2) 0 0 0;
}

.snapscreen .meta {
    overflow: hidden;
    font-size: 0.8em;
    margin: calc(16px / 2) 0;
}

.snapscreen .small {
    margin: 0;
    font-size: 0.8em;
    line-height: 1.5;
}

@media screen and (min-width: 568px) {
    .snapscreen .tv-search-frame {
        width: 56%;
        top: calc(50% - 16px);
    }
}

.snapscreen .tv-search-camera .tv-search-button {
    bottom: 16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
}

.snapscreen .tv-search-camera .switch-camera-button {
    bottom: 16px;
    left: 75%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
}

.snapscreen .zoom-slider {
    z-index: 3;
    left: 15%;
    width: 70%;
    height: 30px;
    bottom: 90px;
    display: block;
    position: fixed;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}

.snapscreen .zoom-slider:before, .snapscreen .zoom-slider:after {
    color: white;
    display: block;
    position: absolute;
    speak: none;
    line-height: 1;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-family: "simple-line-icons";
}

.snapscreen .zoom-slider:before {
    content: "\e615";
    left: -40px;
}

.snapscreen .zoom-slider:after {
    content: "\e095";
    right: -40px;
}

.snapscreen .zoom-slider hr {
    border: 0;
    margin: 0;
    padding: 0;
    height: 2px;
    display: block;
    background: white;
    transform: translateY(14px);
}

.snapscreen .zoom-slider .zoom-pointer {
    overflow: hidden;
    left: 0;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 3px solid white;
    -webkit-border-radius: 50%;
    background-color: #3d76c5;
    background-clip: padding-box;
    background-origin: padding-box;
    cursor: pointer;
    position: absolute;
    z-index: 4;
    transform: translateY(5px);
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .snapscreen .zoom-slider {
        left: 20%;
        width: 60%;
        bottom: 4px;
    }
    .snapscreen .tv-search-camera .tv-search-button {
        bottom: calc(50% - 55px);
        left: calc(100% - 55px);
    }
    .snapscreen .tv-search-camera .switch-camera-button {
        bottom: calc(75% - 55px);
        left: calc(100% - 55px);
    }
}

.snapscreen.snpbet .button-cta {
    color: #ffcc01;
}

.snapscreen.snpbet .tv-search-button,
.snapscreen.snpbet .switch-camera-button,
.snapscreen.snpbet .zoom-slider .zoom-pointer,
.snapscreen.snpbet .tv-search-input + .tv-search-label {
    background-color: #ffcc01;
}

.snapscreen.snpbet .tv-search-button:disabled,
.snapscreen.snpbet .tv-search-input + .tv-search-label.file-processing {
    background: #ffcc01 url("../images/bet/processing.gif") no-repeat center;
}

.snapscreen.snpbet .tv-search-frame {
    border: 6px solid #ffcc01;
}

.snapscreen.clipshare {
    padding: 10px;
    background-color: #dddfe2;
}

.snapscreen.clipshare .snp-tab-container,
.snapscreen.clipshare .snp-preview-meta {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.snapscreen.clipshare .snp-tab,
.snapscreen.clipshare .snp-preview-meta-item {
    width: 33.333333333%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.snapscreen.clipshare .snp-tab {
    padding: 1rem 0;
    background-color: #fff;
    color: #3d76c5;
}

.snapscreen.clipshare .snp-tab:hover,
.snapscreen.clipshare .snp-tab:focus,
.snapscreen.clipshare .snp-tab.snp-tab-active {
    cursor: pointer;
    color: #fff;
    background-color: #3d76c5;
}

.snapscreen.clipshare .snp-form-error {
    margin: 10px 0;
    color: #ff0027;
    font-size: 85%;
    font-weight: 700;
    text-align: right;
}

.snapscreen.clipshare .snp-btn-share {
    width: 100%;
    border: 0;
    border-radius: 6px;
    padding: 1rem;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -.05rem;
    transition: background-color .2s;
    color: #fff;
    background-color: #3d76c5;
}

.snapscreen.clipshare .snp-btn-share:disabled {
    background-color: gray;
}

.snapscreen.clipshare .snp-gallery {
    height: 0;
    width: 100%;
    display: block;
    position: relative;
    margin: 10px 0;
    padding: 56.25% 0 0 0;
    overflow: hidden
}

.snapscreen.clipshare .snp-gallery img {
    border-style: none;
    max-width: 100%;
    vertical-align: middle;
}

.snapscreen.clipshare .snp-gallery.snp-gallery-thumb {
    padding: 18.75% 0 0 0;
}

.snapscreen.clipshare .snp-gallery.snp-gallery-loading {
    background: url("../images/preload.gif") no-repeat center;
}

.snapscreen.clipshare .snp-gallery.snp-gallery-thumb.snp-gallery-loading {
    background: none;
}

.snapscreen.clipshare .snp-gallery .swiper-container {
    position: absolute;
    display: block;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

.snapscreen.clipshare .snp-gallery .swiper-slide .swiper-lazy-preloader::after {
    animation: none;
    -webkit-animation: none;
    background: url("../images/preload.gif") no-repeat center;
}

.snapscreen.clipshare .snp-gallery.snp-gallery-loading .swiper-button-next,
.snapscreen.clipshare .snp-gallery.snp-gallery-loading .swiper-button-prev {
    display: none;
}

.snapscreen.clipshare .snp-gallery .swiper-button-next.swiper-button-white,
.snapscreen.clipshare .snp-gallery .swiper-button-prev.swiper-button-white {
    width: 54px;
    height: 54px;
    margin-top: -27px;
    border-radius: 27px;
    background-color: rgba(0, 0, 0, 0.4);
}

.snapscreen.clipshare .snp-gallery .swiper-button-next.swiper-button-white {
    right: 5px;
}

.snapscreen.clipshare .snp-gallery .swiper-button-prev.swiper-button-white {
    left: 5px;
}

.snapscreen.clipshare .snp-gallery.snp-gallery-thumb .swiper-button-next.swiper-button-white,
.snapscreen.clipshare .snp-gallery.snp-gallery-thumb .swiper-button-prev.swiper-button-white {
    width: 34px;
    height: 34px;
    margin-top: -17px;
    border-radius: 17px;
    background-size: 22px 22px;
}

.snapscreen.clipshare .snp-gallery.snp-gallery-thumb .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2044%2044%27%3E%3Cpath%20d%3D%22m27%2C22l0%2C0l-22%2C22l-2.1%2C-2.099998l19.899999%2C-19.900002l-19.899999%2C-19.9l2.1%2C-2.1l22%2C22l0%2C0z%22%20fill%3D%22%23ffffff%22%2F%3E%3Cpath%20d%3D%22m43.782135%2C22l0%2C0l-21.999849%2C22l-2.100006%2C-2.099998l19.899912%2C-19.900002l-19.899912%2C-19.9l2.100006%2C-2.1l21.999849%2C22l0%2C0z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E");
}

.snapscreen.clipshare .snp-gallery.snp-gallery-thumb .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2044%2044%27%3E%3Cpath%20d%3D%27M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z%27%20fill%3D%27%23ffffff%27%2F%3E%3Cpath%20d%3D%22m17.715229%2C22l21.999985%2C-22l2.099976%2C2.1l-19.899944%2C19.9l19.899944%2C19.900002l-2.099976%2C2.099998l-21.999985%2C-22l0%2C0l0%2C0z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E");
}